// colors
$black: #2C3242;
$black2: #1F2432;
$white: #FFFFFF;
$light-grayish-blue: #F6F8FA;
$blue: #0069B4;
$dark-blue: #33374E;
$gray: #AEAEAE;
$light-gray: #C4C4C4;
$dark-gray: #8F919B;
$asphalt-gray: #90A2B5;

